# Título de la Aplicación
VITE_APP_TITLE=Visualizador de Tours Virtuales Premium

# Configuración de API (Si aplica)
VITE_API_URL=https://api.samimunay.com/v1

# Integraciones de Terceros (Si aplica)
# VITE_MAPBOX_TOKEN=pk.your_mapbox_token_here
